<!DOCTYPE html>

<html>
    <head>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        
        <!-- app's own JavaScript -->
        <script src="/static/js/scripts.js"></script>
        
        
        Hello poo
    </head>
    <body>
        <div id = "addjs">
            Hello {{a}}
        </div> 
        <form = "/weather" method = "post">
            <button class="btn btn-primary" type="submit">Hello poo Alessia </button>
        </form>
    </body>
</html>
